<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>冷藏库-保鲜库-速冻库-物流冷链-医疗冷库-【福建冰宇制冷】-关于我们</title>
	<meta name="keywords" content="冷柜,冰柜,冷柜价格,冰柜价格,超市冷柜,福建冰宇冷柜" />
	<meta name="description" content="福建冰宇制冷设备有限公司是一家集研发、设计、生产、销售于一体的商业制冷设备企业，主要产品有冷柜，冰柜，展示柜，冷藏柜，冷冻柜，冷库等。自成立以来，凭借良好的信誉以及过硬的产品质量获得广大消费者的信赖。凭借自身努力相继在东莞、广州、上海、北京、广西、湖南、湖北、福建、四川、浙江、江苏、重庆、江西等多地以及国外创造销售渠道。" />
	<link rel="icon" href="./statics/images/ico.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="statics/css/base.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/style.css" />
</head>

<body>
	<!--头部-->
	<div class="header">
		<!--top bar-->
		<div class="top_bar">
			<div class="w1200">
				<div class="fl" data-locale="i1">欢迎来到冰宇制冷有限公司官网！</div>
				<ul class="fr">
						<li>
							<span>语言/language</span>
							<select id="select_name">
								<option value="zh" selected>中文</option>
								<option value="en">English</option>
							</select>
						</li>
						<li class="wx">
							<a href="javascript:;" data-locale="i2">官方微信</a>
							<div class="wxerweima">
								<img src="statics/images/erweima.png" />
							</div>
						</li>
						<li><a href="javascript:;" target="blank" data-locale="i3">官方微博</a></li>
						<li><a href="https://www.facebook.com/bingyurefrigeration/" target="blank">Facebook</a></li>
					</ul>
			</div>
		</div>
		<!--top-->
		<div class="top">
			<div class="w1200">
				<div class="logo fl">
					<a href="javascript:;">
						<img src="statics/images/by_logo.png" alt="" />
					</a>
				</div>
				<div class="bgc fl">
					<img src="statics/images/hl_09.jpg" alt="">
				</div>
				<div class="tel fr">
					400-800-8888
				</div>
			</div>
		</div>
		<!--nav-->
		<div class="nav">
			<div class="w1200">
				<ul id="nav_list">

				</ul>
			</div>
		</div>
	</div>
	<!--轮播图-->
	<div class="slider">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="bd">
				<ul class="pics">

				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
	<!--内容主体-->
	<div class="container about">
		<div class="w1200">
			<h2 class="t">冰宇简介</h2>
			<p class="t_en">Company</p>
			<div class="main">
				<img src="statics/images/about_door.jpg" />
				<div class="main_text">
					<p data-about="a1">福建冰宇制冷设备工程有限公司是集制冷产品设计、产品开发、产品制造、产品销售、工程成套、售后服务、技术咨询为一体的一站式服务公司。 </p>
					<p data-about="a2">公司以生产和定制各种制冷设备，销售及制冷工程主导，专业安装组合式冷冻库、速冻库、冷藏库、保鲜库、实验库、防爆库和超低温（0℃至-120℃）库、工业冷水机组、制冰池、单冻机，速冻隧道、真空预冷、真空冻干、车间降温及各类非标工艺制冷系统及冷库安装工程。</p>
					<p data-about="a3">公司产品按照欧洲标准设计，采用先进的制造工艺以及严格的质量控制提醒，确保了产品的高质量、高稳定性和耐用性。公司拥有自营进出口权，可为国内外用户提供由设计到生产、制作安装整套工艺流程等系列制冷配套项目，能满足客户的各种需要。</p>
					<p data-about="a4">产品广泛的应用于食品、医疗卫生、冷链物流、船舶冷冻、生物工程、果蔬、水产品、超市、电子、酒店服务业等各行业。在发展的过程中，公司始终本着以人为本，以科技促发展的经营理念，和上海北京多所大学及科研机构联合协作，致力于产品升级、节能环保的开发研究，打造出一
						支工作经验丰富、服务体系完善的施工队伍，为客户提供制冷工程设计、安装、售后维护一体化最优质的服务。</p>
					<p data-about="a5">本公司并具备了国家制冷安装资质、中国制冷协会会员单位等荣誉。安装过程中公司一贯坚持“走质量路线,做精品工程”的施工工艺。经过快速的发展在国内外多个地方建立了销售网络和健全的售前售后服务体系，完全免除客户的后顾之忧。欢迎国内外朋友来电咨询，前来实地考察。
					</p>
				</div>
			</div>
			<div class="sell_net">
				<h3 class="sell_title">销售网络<span>Engineering Projects</span></h3>
				<div class="footPrint">
					<div class="footPrint_left">
						<img src="./statics/images/about_bgc.png" alt="">
						<h3>我们的足迹　Our　footprint</h3>
						<h4>中国　Chinese</h4>
						<p>上海　北京　广州　深圳　天津　杭州 </p>
						<p>南京　武汉　成都　沈阳　重庆　大连 </p>
						<p>西安　青岛　济南　长沙　郑州　新乡 </p>
						<p>南宁　秦皇岛　徐州　苏州　常州</p>
						<p>新疆　内蒙古　三亚　海南　昆明 </p>
						<p>福建等城市</p>
						<h5>Shanghai and Beijing,Guangchou,Shenchen,Tianjing,Hangchou</h5>
						<h5>Nanjing,Wuhan,Chengdu,Shenyang,Chongqi,,Dalian</h5>
						<h5>Xian,Qingdao,Jinan,Changsha,chengchou,Xinxiang</h5>
						<h5>Nanning,Qinhuangdao,Xuchou,Suchou,Changchou</h5>
						<h5>Xinjiang,Neimenggu,Sanya,Hainan,Kunming</h5>
						<h5>Fujian and other cities</h5>
					</div>
					<div class="footPrint_right">
						<h4>世界　World</h4>
						<p>欧洲地区</p>
						<p>西班牙 美国 希腊 意大利</p>
						<p>土耳其</p>
						<p>中东地区</p>
						<p>以色列 迪拜 叙利亚</p>
						<p>南亚、东南亚地区</p>
						<p>印度 巴基斯坦 韩国 </p>
						<p>菲律宾　马来西亚　泰国　越南</p>
						<h5>Europe</h5>
						<h5>Spain　Engladn　Greece　Italy　France</h5>
						<h5>Turquie</h5>
						<h5>Middle　East</h5>
						<h5>Israel　Dubai　Syria</h5>
						<h5>South/southeast Asia</h5>
						<h5>India　Pakistan　Korea　Singapore</h5>
						<h5>Malaysia　Philippines　Thailland　Vietnam</h5>
					</div>
				</div>
				<div class="partner">
					<div class="partner_content">
						<div class="partner_list"><img src="./statics/images/logo1.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo2.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo3.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo4.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo5.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo6.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo7.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo8.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo9.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo10.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo11.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo12.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo13.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo14.png" alt=""></div>
						<div class="partner_list"><img src="./statics/images/logo15.png" alt=""></div>
					</div>
					<div class="partner_picture">
						<img src="./statics/images/partner_logo.png" alt="">
						<img src="./statics/images/partner_text.png" alt="">
					</div>
				</div>
				<div class="customer">
					<h3>我们的客户　Our Esteemed Clients</h3>
					<div class="cunstomer_content">
						<div class="customer_list"><img src="./statics/images/logo16.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo17.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo18.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo1.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo2.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo3.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo4.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo5.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo6.png" alt=""></div>
						<div class="customer_list"><img src="./statics/images/logo7.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
		<div class="w1200">
			<div class="left fl">
				<img class="fr" src="statics/images/by_footer_logo.png" />
			</div>
			<div class="middle fl">
				<ul>
					<li>
						<h3 data-locale="i13">网站首页</h3>
						<p><a href="javascript:;" data-locale="i14">公司简介</a></p>
						<p><a href="javascript:;" data-locale="i15">领导致辞</a></p>
						<p><a href="javascript:;" data-locale="i16">机构设置</a></p>
						<p><a href="javascript:;" data-locale="i17">地理位置</a></p>
					</li>
					<li>
						<h3 data-locale="i18">荣誉资质</h3>
						<p><a href="javascript:;" data-locale="i19">产品名称第一</a></p>
						<p><a href="javascript:;" data-locale="i20">汇源果汁</a></p>
						<p><a href="javascript:;" data-locale="i21">娃哈哈矿泉水</a></p>
					</li>
					<li>
						<h3 data-locale="i22">精品案例</h3>
						<p><a href="javascript:;" data-locale="i23">年底促销</a></p>
						<p><a href="javascript:;" data-locale="i24">6.18年中大促销</a></p>
					</li>
					<li>
						<h3 data-locale="i25">友情链接</h3>
						<p class="flink">
							<a href="javascript:;" data-locale="i26"><span>网易</span></a>
							<a href="javascript:;" data-locale="i27"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i28"><span>网易</span></a>
							<a href="javascript:;" data-locale="i29"><span>新浪</span></a>
							<a href="javascript:;" data-locale="i30"><span>网易</span></a>
							<a href="javascript:;" data-locale="i31"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i32"><span>网易</span></a>
							<a href="javascript:;" data-locale="i33"><span>中兴</span></a>
							<a href="javascript:;" data-locale="i34"><span>腾讯</span></a>
							<a href="javascript:;" data-locale="i35"><span>中兴</span></a>
						</p>
					</li>
				</ul>
			</div>
			<div class="right fr">
				<div class="l fl">
					<h3 data-locale="i36">工作热线</h3>
					<p>020-32201587</p>
					<h3 class="rx" data-locale="i37">24小时服务热线</h3>
					<p>13631338039</p>
					<p class="weibo"><a href="javascript:;" data-locale="i38">新浪微博</a></p>
					<p class="qq"><a href="javascript:;" data-locale="i39">腾讯微博</a></p>
				</div>
				<div class="r fr">
					<img src="statics/images/erweima.png" />
					<p data-locale="i40">扫一扫二维码有惊喜</p>
				</div>
			</div>

		</div>
		<div class="copyright">
			20010-20011&nbsp;版权所有&nbsp;2003 -2010&nbsp;&nbsp;备案号：粤1234567
		</div>
	</div>
	<script src="./statics/lib/jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/jquery/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/artTemplate/template-native.js"></script>
	<script src="./statics/lib/i18n/jquery.i18n.properties.js"></script>
	<script src="./statics/js/common.js"></script>
	<script type="text/javascript">
		$(function () {
			loadAbout(localStorage.currentLang)
			if (localStorage.currentLang == 'en') {
				$('[data-about]').css({
					'font-size': '14px',
					'line-height': '18px'
				})
			}
			getLan()
		})


		var loadAbout = function (currentLang) {
			switch (currentLang) {
				case 'en':
					langi18n = 'en';
					break;
				case 'zh':
					langi18n = 'zh';
					break;
				default:
					langi18n = 'zh';
			}
		}
		var loadAbout = function (langi18n) {
			jQuery.i18n.properties({ //加载资浏览器语言对应的资源文件
				name: 'about', //属性文件名     命名格式： 文件名_国家代号.properties  
				path: './statics/i18n/', //注意这里路径是你属性文件的所在文件夹  
				mode: 'map', //用Map的方式使用资源文件中的值   
				language: langi18n, //国家代号 name+language刚好组成属性文件名：strings+zh -> strings_zh.properties 
				//删除则自动选择浏览器语言
				callback: function () {
					$("[data-about]").each(function () {
						$(this).html($.i18n.prop($(this).data("about")));
					});
				}
			});
		}
	</script>
	<script type="text/html" id="pics_list">
		<% for(var i =0; i< model.length;i++) {
				var item = model[i] %>
			<li style="background: url(<%=item.name%>) center center no-repeat;"></li>
			<% }%>
		</script>

	<!-- 导航 -->
	<script id="nav_lists" type="text/html">
		<% for(var i= 0;i < list.length;i++) {
		 var item = list[i] %>
	<li data-id="<%=item.id%>" class="<%= item.link == 'about.html'?'active':''%>">
		<a href="<%=item.link%>"><%=item.name%></a>
		<div class="sub_nav">
			<ul>
				<% if(item.title) {
					 for(var j = 0;j< item.title.length;j++) { 
					 var cate = item.title[j] %>
						<li data-id="<%=cate.id%>"><a href="<%=cate.url%>?id=<%=cate.id%>"><%=cate.name%></a></li>
						<% }
					 } %>
			</ul>
		</div>
	</li>
	<% } %>
</script>
</body>

</html>