<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>冷藏库-保鲜库-速冻库-物流冷链-医疗冷库-【福建冰宇制冷】-联系我们</title>
	<meta name="keywords" content="冷柜,冰柜,冷柜价格,冰柜价格,超市冷柜,福建冰宇冷柜" />
	<meta name="description" content="福建冰宇制冷设备有限公司是一家集研发、设计、生产、销售于一体的商业制冷设备企业，主要产品有冷柜，冰柜，展示柜，冷藏柜，冷冻柜，冷库等。自成立以来，凭借良好的信誉以及过硬的产品质量获得广大消费者的信赖。凭借自身努力相继在东莞、广州、上海、北京、广西、湖南、湖北、福建、四川、浙江、江苏、重庆、江西等多地以及国外创造销售渠道。" />
	<link rel="icon" href="./statics/images/ico.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="statics/css/base.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/style.css" />
</head>

<body>
	<!--头部-->
	<div class="header">
		<!--top bar-->
		<div class="top_bar">
			<div class="w1200">
				<div class="fl" data-locale="i1">欢迎来到冰宇制冷有限公司官网！</div>
				<ul class="fr">
						<li>
							<span>语言/language</span>
							<select id="select_name">
								<option value="zh" selected>中文</option>
								<option value="en">English</option>
							</select>
						</li>
						<li class="wx">
							<a href="javascript:;" data-locale="i2">官方微信</a>
							<div class="wxerweima">
								<img src="statics/images/erweima.png" />
							</div>
						</li>
						<li><a href="javascript:;" target="blank" data-locale="i3">官方微博</a></li>
						<li><a href="https://www.facebook.com/bingyurefrigeration/" target="blank">Facebook</a></li>
					</ul>
			</div>
		</div>
		<!--top-->
		<div class="top">
			<div class="w1200">
				<div class="logo fl">
					<a href="javascript:;">
						<img src="statics/images/by_logo.png" alt="" />
					</a>
				</div>
				<div class="bgc fl">
					<img src="statics/images/hl_09.jpg" alt="">
				</div>
				<div class="tel fr">
					400-800-8888
				</div>
			</div>
		</div>
		<!--nav-->
		<div class="nav">
			<div class="w1200">
				<ul id="nav_list">

				</ul>
			</div>
		</div>
	</div>
	<!--轮播图-->
	<!--轮播图-->
	<div class="slider">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="bd">
				<ul class="pics">

				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
	<!--内容主体-->
	<div class="container contact">
		<div class="w1200">
			<div class="contact_info">
				<div class="l fl">
					<img src="statics/images/contact_map.png" />
				</div>
				<div class="r fl">
					<h2 class="t">联系我们</h2>
					<p class="t_en">contact us</p>
					<div class="info">

					</div>
				</div>
			</div>
			<div class="leave_message">
				<h2 class="t">联系我们</h2>
				<p class="t_en">contact us</p>
				<form action="#">
					<div>
						<input class="name" type="text" name="" placeholder="姓名：" />
						<input class="phone" type="text" name="" placeholder="电话：" class="fr" />
					</div>
					<div>
						<input class="weixin" type="text" name="" placeholder="微信：" />
						<input class="email" type="text" name="" placeholder="邮箱：" class="fr" />
					</div>
					<div>
						<textarea class="content" name="" rows="" cols="" placeholder="留言内容："></textarea>
					</div>
					<div style="text-align: center;">
						<input type="button" value="提交留言" />
					</div>
				</form>
			</div>
			<div class="other_info">
				<h3>其他分部</h3>
				<div class="other_content">

				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
		<div class="w1200">
			<div class="left fl">
				<img class="fr" src="statics/images/by_footer_logo.png" />
			</div>
			<div class="middle fl">
				<ul>
					<li>
						<h3 data-locale="i13">网站首页</h3>
						<p><a href="javascript:;" data-locale="i14">公司简介</a></p>
						<p><a href="javascript:;" data-locale="i15">领导致辞</a></p>
						<p><a href="javascript:;" data-locale="i16">机构设置</a></p>
						<p><a href="javascript:;" data-locale="i17">地理位置</a></p>
					</li>
					<li>
						<h3 data-locale="i18">荣誉资质</h3>
						<p><a href="javascript:;" data-locale="i19">产品名称第一</a></p>
						<p><a href="javascript:;" data-locale="i20">汇源果汁</a></p>
						<p><a href="javascript:;" data-locale="i21">娃哈哈矿泉水</a></p>
					</li>
					<li>
						<h3 data-locale="i22">精品案例</h3>
						<p><a href="javascript:;" data-locale="i23">年底促销</a></p>
						<p><a href="javascript:;" data-locale="i24">6.18年中大促销</a></p>
					</li>
					<li>
						<h3 data-locale="i25">友情链接</h3>
						<p class="flink">
							<a href="javascript:;" data-locale="i26"><span>网易</span></a>
							<a href="javascript:;" data-locale="i27"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i28"><span>网易</span></a>
							<a href="javascript:;" data-locale="i29"><span>新浪</span></a>
							<a href="javascript:;" data-locale="i30"><span>网易</span></a>
							<a href="javascript:;" data-locale="i31"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i32"><span>网易</span></a>
							<a href="javascript:;" data-locale="i33"><span>中兴</span></a>
							<a href="javascript:;" data-locale="i34"><span>腾讯</span></a>
							<a href="javascript:;" data-locale="i35"><span>中兴</span></a>
						</p>
					</li>
				</ul>
			</div>
			<div class="right fr">
				<div class="l fl">
					<h3 data-locale="i36">工作热线</h3>
					<p>020-32201587</p>
					<h3 class="rx" data-locale="i37">24小时服务热线</h3>
					<p>13631338039</p>
					<p class="weibo"><a href="javascript:;" data-locale="i38">新浪微博</a></p>
					<p class="qq"><a href="javascript:;" data-locale="i39">腾讯微博</a></p>
				</div>
				<div class="r fr">
					<img src="statics/images/erweima.png" />
					<p data-locale="i40">扫一扫二维码有惊喜</p>
				</div>
			</div>
		</div>
		<div class="copyright">
			20010-20011&nbsp;版权所有&nbsp;2003 -2010&nbsp;&nbsp;备案号：粤1234567
		</div>
	</div>
	<script src="./statics/lib/jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/jquery/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/artTemplate/template-native.js"></script>
	<script src="./statics/lib/i18n/jquery.i18n.properties.js"></script>
	<script src="./statics/js/common.js"></script>
	<script type="text/javascript">
		$(function () {
			$('[type=button]').on('click', function () {
				var name = $('.name').val()
				var phone = $('.phone').val()
				var email = $('.email').val()
				var wx = $('.weixin').val()
				var content = $('.content').val()
				if (!name) {
					alert('请输入姓名')
					return
				}
				if (!/^(0|86|17951)?(13[0-9]|15[012356789]|166|17[3678]|18[0-9]|14[57])[0-9]{8}$/.test(phone)) {
					alert('请输入正确号码')
					return
				}
				if (!/\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/.test(email)) {
					alert('请输入正确邮箱')
					return
				}
				if (!wx) {
					alert("请输入微信号")
					return
				}
				if (!content) {
					alert("请输入留言内容")
					return
				}
				var data = {
					name: name,
					phone: phone,
					email: email,
					wx: wx,
					content: content
				}
				$.ajax({
					url: By.apiPath + '/user/message/addMessage',
					type: 'post',
					headers: {
						'Content-Type': 'application/json'
					},
					data: JSON.stringify(data),
					success: function (res) {
						if (res.code == 0) {
							alert("留言成功")
						}
					}
				})
			})
			getLan(function () {
				renderContact(function (data) {
					var total = data.object.list[0]
					var other = data.object.list.splice(1)
					$('.info').html(template('total_area', {
						model: total
					}))
					$('.other_content').html(template('other_area', {
						model: other
					}))
				})
			})


		})

		var renderContact = function (callback) {
			$.get(By.apiPath + '/user/relation/getRelationList', function (data) {
				callback && callback(data)
			})
		}
	</script>
	<script type="text/html" id="pics_list">
		<% for(var i =0; i< model.length;i++) {
				var item = model[i] %>
			<li style="background: url(<%=item.name%>) center center no-repeat;"></li>
			<% }%>
		</script>
	<script type="text/html" id="total_area">
		<p><span>地址：<%=model.area%></span></p>
			<p><span>电话：</span><%=model.phone%></p>
			<p><span>传真：</span><%=model.facsimile%></p>
			<p><span>邮箱：</span><%=model.email%></p>
			<p><span>工作时间：</span>9:00-21:00</p>
		</script>
	<script type="text/html" id="other_area">
		<% for(var i=0;i< model.length;i++){
				 var item = model[i] %>
			<div class="other_item">
				<h4 class="item_title"><%=item.name%></h4>
				<p>地址：<%=item.area%></p>
				<p>电话：<%=item.phone%></p>
				<p>传真：<%=item.facsmile%></p>
				<p>邮箱：<%=item.email%></p>
			</div>
			<% }%>
		</script>

	<!-- 导航 -->
	<script id="nav_lists" type="text/html">
		<% for(var i= 0;i < list.length;i++) {
		 var item = list[i] %>
		<li data-id="<%=item.id%>" class="<%= item.link == 'contact.html'?'active':''%>">
		<a href="<%=item.link%>"><%=item.name%></a>
		<div class="sub_nav">
			<ul>
				<% if(item.title) {
					 for(var j = 0;j< item.title.length;j++) { 
					 var cate = item.title[j] %>
						<li data-id="<%=cate.id%>"><a href="<%=cate.url%>?id=<%=cate.id%>"><%=cate.name%></a></li>
						<% }
					 } %>
			</ul>
		</div>
	</li>
	<% } %>
</script>
</body>

</html>