<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>冷藏库-保鲜库-速冻库-物流冷链-医疗冷库-【福建冰宇制冷】
	</title>
	<meta name="keywords" content="冷柜,冰柜,冷柜价格,冰柜价格,超市冷柜,福建冰宇冷柜" />
	<meta name="description" content="福建冰宇制冷设备有限公司是一家集研发、设计、生产、销售于一体的商业制冷设备企业，主要产品有冷柜，冰柜，展示柜，冷藏柜，冷冻柜，冷库等。自成立以来，凭借良好的信誉以及过硬的产品质量获得广大消费者的信赖。凭借自身努力相继在东莞、广州、上海、北京、广西、湖南、湖北、福建、四川、浙江、江苏、重庆、江西等多地以及国外创造销售渠道。" />
	<link rel="icon" href="./statics/images/ico.ico" type="image/x-icon">
	<link rel="stylesheet" href="statics/lib/market/market.css">
	<link rel="stylesheet" type="text/css" href="statics/css/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/base.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/style.css" />
</head>

<body>
	<!--头部-->
	<div class="header">
		<!--top bar-->
		<div class="top_bar">
			<div class="w1200">
				<div class="fl" data-locale="i1">欢迎来到冰宇制冷有限公司官网！</div>
				<ul class="fr">
					<li>
						<span>语言/language</span>
						<select id="select_name">
							<option value="zh" selected>中文</option>
							<option value="en">English</option>
						</select>
					</li>
					<li class="wx">
						<a href="javascript:;" data-locale="i2">官方微信</a>
						<div class="wxerweima">
							<img src="statics/images/erweima.png" />
						</div>
					</li>
					<li><a href="javascript:;" target="blank" data-locale="i3">官方微博</a></li>
					<li><a href="https://www.facebook.com/bingyurefrigeration/" target="blank">Facebook</a></li>
				</ul>
			</div>
		</div>
		<!--top-->
		<div class="top">
			<div class="w1200">
				<div class="logo fl">
					<a href="javascript:;">
						<img src="statics/images/by_logo.png" alt="" />
					</a>
				</div>
				<div class="bgc fl">
					<img src="statics/images/hl_09.jpg" alt="">
				</div>
				<div class="tel fr">
					400-800-8888
				</div>
			</div>
		</div>
		<!--nav-->
		<div class="nav">
			<div class="w1200">
				<ul id="nav_list">

				</ul>
			</div>
		</div>
	</div>
	<!--轮播图-->
	<div class="slider">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="bd">
				<ul class="pics">

				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
	<div class="w1200">
		<div class="indtitle">
			<p>Product center</p>
			<div class="line"></div>
			<span>产品中心</span>
		</div>
		<div class="w1200">
			<div class="indvido wow slideInLeft">
				<h2 class="indvido_text">
					<p>视频中心</p>
					<p>Video center</p>
				</h2>
				<div class="vidobox">
					<video width="256" height="177" src="http://www.kvjv.com/file/upload/201412/15/haoshuang13.mp4" controls="controls"
					 preload="none" poster="http://www.kvjv.com/video.jpg">您的浏览器不支持 video 标签。
					</video>
					<h2 class="yh">视频标题</h2>
				</div>
				<div class="vidosmall">
					<a href="javascript:;"><img src="statics/images/vdie2.jpg" /></a>
					<a href="javascript:;"><img src="statics/images/vdie2.jpg" /></a>
					<a href="javascript:;"><img src="statics/images/vdie2.jpg" /></a>
				</div>
				<div class="more"><a href="videos.html">查看更多 >></a></div>

			</div>
			<div class="indprolist wow slideInRight">
				<ul class="product_list">
				</ul>
			</div>
		</div>
	</div>
	</div>
	<div class="advtxt">
		<div class="w1200">
			<div class="advt-l wow slideInLeft">为客户提供优质、全面、先进的产品是冰宇制冷科技有限公司不变的理念；打造设备智能化、小型化及移动应用平台的领导者，成为最优秀的冷库制冷设备产品供应商</div>
			<div class="advt-r wow slideInRight">
				<p>立足创新、专注品质、诚信合作、共同发展</p>
				<span>Based on innovation, focus on quality, good faith cooperation and common development</span>
			</div>
			<div class="youshi wow bounceInDown"></div>
		</div>
		<div class="w1200" style="margin-top:70px;">
			<ul class="shebeilist">
				<li class="mg-r-15">
					<div class="sbtxt bj1">
						<p>售前服务</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/sb1.png" width="370" height="214" /></div>
				</li>
				<li class="mg-r-15">
					<div class="sbtxt bj2">
						<p>免费冷库设计</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/sb2.png" width="370" height="214" /></div>
				</li>
				<li class="wow">
					<div class="sbtxt bj3">
						<p>双方确定方案</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/sb3.png" width="370" height="214" /></div>
				</li>
				<li class="mg-r-15  wow slideInLeft">
					<div class="sbtxt bj4">
						<p>进行施工</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/work.jpg" width="370" height="214" /></div>
				</li>
				<li class="mg-r-15  wow bounceInDown">
					<div class="sbtxt bj5">
						<p>施工验收结束</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/sb5.png" width="370" height="214" /></div>
				</li>
				<li class="wow slideInRight">
					<div class="sbtxt bj6">
						<p>五星级售后服务</p>
						<span>专业、快捷、搞笑的售后服务团队为您提供优质的产品售后服务，我们定期回访新老顾客，聆听意见和建议。</span>
					</div>
					<div class="sbimg"><img src="statics/images/sb6.png" width="370" height="214" /></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="w1200 mg-tb">
		<div class="jg1"><img src="statics/images/machine.jpg" width="344" height="298" /></div>
		<div class="jg2">
			<h3>冷库设备设计宗旨和标准</h3>
			<p>GB15607 粉末静电喷涂工艺安全规定<br />GB14443 涂层烘干室安全技术规定<br />GB6514 涂装设备工艺安全规定<br />GB6515 涂装工艺通风及净化规定<br />GB50058
				爆炸和火灾危险环境电力装置设计规定GB5083 生产设备安全卫生设计总则</p>
		</div>
		<div class="jg3"><img src="statics/images/house.jpg" width="376" height="298" /></div>
		<div class="jg4"><img src="statics/images/jg2.jpg" /></div>
		<div class="jg4"><img src="statics/images/office.jpg" width="475" height="301" /></div>
		<div class="jg4"><img src="statics/images/jg5.jpg" width="381" height="301" /></div>
	</div>

	<!-- 商超部分开始 -->
	<div class="index_team index">
		<h2 class="t">商超设备</h2>
		<p class="t_en">Market Devices</p>
		<div class="team_scroll">

		</div>
	</div>
	<!-- 商超部分结束 -->
	<!--新闻中心-->
	<div class="index_news2 index">
		<h2 class="t">新闻中心</h2>
		<p class="t_en">news</p>
		<div class="w1200">
			<div class="img index_news_bgc">
				<img src="statics/images/news_bgc2.png" />
			</div>
			<div class="new_cate">
				<ul class="news_category">
				</ul>
			</div>
			<div class="tj_news">

			</div>
			<div class="news_list active">
				<ul class="fr">

				</ul>
			</div>
		</div>
	</div>
	<!--专精团队-->
	<div class="zj_team index">
		<h2 class="t">专精团队 值得信赖</h2>
		<p class="t_en">professional</p>
		<div class="w1200">
			<!--专业团队-->
			<div class="zy_team">
				<div class="t">
					<ul>
						<li>
							<span>
								<font>10</font>年冷库设计经验
							</span>
						</li>
						<li>
							<span>
								<font>300</font>+客户认可
							</span>
						</li>
						<li>
							<span>
								<font>40</font>+合作伙伴
							</span>
						</li>
					</ul>
				</div>
				<div class="b">
					<ul>
						<li style="background: url(statics/images/logo1.png) center center no-repeat;background-size: cover"></li>
						<li style="background: url(statics/images/logo2.png) center center no-repeat;background-size: cover"></li>
						<li style="background: url(statics/images/logo3.png) center center no-repeat;background-size: cover"></li>
						<li style="background: url(statics/images/logo4.png) center center no-repeat;background-size: cover"></li>
						<li style="background: url(statics/images/logo5.png) center center no-repeat;background-size: cover"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div class="footer">
		<div class="w1200">
			<div class="left fl">
				<img class="fr" src="statics/images/by_footer_logo.png" />
			</div>
			<div class="middle fl">
				<ul>
					<li>
						<h3 data-locale="i13">网站首页</h3>
						<p><a href="javascript:;" data-locale="i14">公司简介</a></p>
						<p><a href="javascript:;" data-locale="i15">领导致辞</a></p>
						<p><a href="javascript:;" data-locale="i16">机构设置</a></p>
						<p><a href="javascript:;" data-locale="i17">地理位置</a></p>
					</li>
					<li>
						<h3 data-locale="i18">荣誉资质</h3>
						<p><a href="javascript:;" data-locale="i19">产品名称第一</a></p>
						<p><a href="javascript:;" data-locale="i20">汇源果汁</a></p>
						<p><a href="javascript:;" data-locale="i21">娃哈哈矿泉水</a></p>
					</li>
					<li>
						<h3 data-locale="i22">精品案例</h3>
						<p><a href="javascript:;" data-locale="i23">年底促销</a></p>
						<p><a href="javascript:;" data-locale="i24">6.18年中大促销</a></p>
					</li>
					<li>
						<h3 data-locale="i25">友情链接</h3>
						<p class="flink">
							<a href="javascript:;" data-locale="i26"><span>网易</span></a>
							<a href="javascript:;" data-locale="i27"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i28"><span>网易</span></a>
							<a href="javascript:;" data-locale="i29"><span>新浪</span></a>
							<a href="javascript:;" data-locale="i30"><span>网易</span></a>
							<a href="javascript:;" data-locale="i31"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i32"><span>网易</span></a>
							<a href="javascript:;" data-locale="i33"><span>中兴</span></a>
							<a href="javascript:;" data-locale="i34"><span>腾讯</span></a>
							<a href="javascript:;" data-locale="i35"><span>中兴</span></a>
						</p>
					</li>
				</ul>
			</div>
			<div class="right fr">
				<div class="l fl">
					<h3 data-locale="i36">工作热线</h3>
					<p>020-32201587</p>
					<h3 class="rx" data-locale="i37">24小时服务热线</h3>
					<p>13631338039</p>
					<p class="weibo"><a href="javascript:;" data-locale="i38">新浪微博</a></p>
					<p class="qq"><a href="javascript:;" data-locale="i39">腾讯微博</a></p>
				</div>
				<div class="r fr">
					<img src="statics/images/erweima.png" />
					<p data-locale="i40">扫一扫二维码有惊喜</p>
				</div>
			</div>
		</div>
		<div class="copyright">
			20010-20011&nbsp;版权所有&nbsp;2003 -2010&nbsp;&nbsp;备案号：粤1234567
		</div>
	</div>
	<!--右侧浮动客服-->
	<div class="kefu">
		<ul class="kefu_item">
			<li class="kefu-phone">
				<p>电话
					<div class="phone-active">
						<p>咨询电话</p>
						<p>400-800-8888</p>
					</div>
				</p>
			</li>
		</ul>
	</div>
	<script src="./statics/lib/jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/wow/wow.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/jquery/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/artTemplate/template-native.js" charset="utf-8"></script>
	<script src="./statics/lib/i18n/jquery.i18n.properties.js"></script>
	<script src="./statics/js/common.js"></script>
	<script src="./statics/lib/market/market.js"></script>
	<script type="text/javascript">
		$(function () {
			var getJquery = template.helper('getJquery', function () {
				return jQuery
			})
			template.defaults.escape = false

			//新闻tab切换↓
			if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
				new WOW().init();
			};
			getLan(function () {
				renderindex(function (data) {
					var proList = data.object.produces
					var mar = data.object.markets
					var video = data.object.videos.slice(0,1)
					var video_list = data.object.videos.slice(1,3)
					console.log(video_list)
					$('.product_list').html(template('product_item', {
						model: {
							list: proList
						}
					}))
					$('.vidobox').html(template('video_first',{model:{item:video}}))
					$('.vidosmall').html(template('video_list',{list:video_list}))
					$('.team_scroll').html(
						`<div class="lb_gl">
			<div class="container">
				<div class="pictureSlider poster-main">
					<div class="poster-btn poster-prev-btn"></div>
					<ul id="zturn" class="poster-list">
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[0].id}" style="display:block">
									<img src="${mar[0].picture}" width="100%">
									<p class="market_text">${mar[0].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[1].id}" style="display:block">
									<img src="${mar[1].picture}" width="100%">
									<p class="market_text">${mar[1].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[2].id}" style="display:block">
									<img src="${mar[2].picture}" width="100%">
									<p class="market_text">${mar[2].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[3].id}" style="display:block">
									<img src="${mar[3].picture}" width="100%">
									<p class="market_text">${mar[3].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[4].id}" style="display:block">
									<img src="${mar[4].picture}" width="100%">
									<p class="market_text">${mar[4].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[5].id}" style="display:block">
									<img src="${mar[5].picture}" width="100%">
									<p class="market_text">${mar[5].title}</p>
									</a>		
							</div>
						</li>
						<li class="poster-item  zturn-item" >
							<div class="for_btn">
								<a href="/market_detail.html?id=${mar[6].id}" style="display:block">
									<img src="${mar[6].picture}" width="100%">
									<p class="market_text">${mar[6].title}</p>
									</a>		
							</div>
						</li>
					</ul>
				</div>
		</div>
		</div>`
					)
					var aa = new zturn({
						id: "zturn",
						opacity: 0.9,
						width: 382,
						Awidth: 1024,
						scale: 0.9,
						auto: true, //是否轮播 默认5000
						turning: 2500 //轮播时长
					})
				})
				// 首页新闻
				renderNewsType(function (data) {
					if (data.code == 0) {
						$('.news_category').html(template('category_news', {
							model: {
								list: data.object.list
							}
						}))
						var firstId = data.object.list[0].id
						renderNewLists({
							id: firstId
						}, function (data) {
							var firstNews = data.object.news.splice(0, 1)
							var newsList = data.object.news.splice(0, 6)
							$('.tj_news').html(template('first_news', {
								model: {
									list: firstNews
								}
							}))
							$('.news_list').html(template('news_list_item', {
								model: {
									list: newsList
								}
							}))
						})
					}
				})
			})
			// $("#gotop").on('click', function () {
			// 	$('html,body').animate({
			// 		scrollTop: 0
			// 	}, 700)
			// })
			
			backTop()
			$('.new_cate').on('click', 'li', function (e) {
				$(this).addClass('active').siblings().removeClass('active');
				var id = $(this).attr('data-id')
				renderNewLists({
					id: id
				}, function (data) {
					var firstNews = data.object.news.splice(0, 1)
					var newsList = data.object.news.splice(0, 6)
					$('.tj_news').html(template('first_news', {
						model: {
							list: firstNews
						}
					}))
					$('.news_list').html(template('news_list_item', {
						model: {
							list: newsList
						}
					}))
				});
			})
		})

		function backTop(minHeight) {
			var backTopHtml = '<li id="gotop"><p>返回</p></li>'

			$('.kefu_item').append(backTopHtml)

			$('#gotop').click(function () {
				$('html, body').animate({
					scrollTop: 0
				}, 700)
			}).hover(
				function () {
					$(this).addClass('hover')
				},
				function () {
					$(this).removeClass('hover')
				}
			)

			minHeight ? minHeight = minHeight : minHeight = 600

			$(window).scroll(function () {
				var s = $(window).scrollTop()

				if (s > minHeight) {
					$('#gotop').fadeIn(100)
				} else {
					$('#gotop').fadeOut(100)
				}
			})
		}



		// ajax请求函数
		var renderNewsType = function (callback) {
			$.get(By.apiPath + '/user/news/getNewsTypeList', function (data) {
				callback && callback(data)
			})
		};
		var renderNewLists = function (data, callback) {
			$.get(By.apiPath + '/user/news/getNewsList', data, function (data) {
				callback && callback(data)
			})
		}


		var renderindex = function (callback) {
			$.get(By.apiPath + '/index', function (data) {
				callback && callback(data)
			})
		}
	</script>
</body>
<!-- 导航 -->
<script id="nav_lists" type="text/html">
	<% for(var i= 0;i < list.length;i++) {
			 var item = list[i] %>
		<li data-id="<%=item.id%>" class="<%=item.link == 'index.html'|| ''?'active':''%>">
			<a href="<%=item.link%>"><%=item.name%></a>
			<div class="sub_nav">
				<ul>
					<% if(item.title) {
						 for(var j = 0;j< item.title.length;j++) { 
						 var cate = item.title[j] %>
							<li data-id="<%=cate.id%>"><a href="<%=cate.url%>?id=<%=cate.id%>"><%=cate.name%></a></li>
							<% }
						 } %>
				</ul>
			</div>
		</li>
		<% } %>
</script>

<script type="text/html" id="video_first">
	<%for(var i =0; i< model.item.length;i++) {
		var it = model.item[i]%>
	<video width="256" height="177" src="<%= it.url %>" controls="controls"
	preload="none" poster="<%= it.image %>">您的浏览器不支持 video 标签。
	 </video>
	 <%}%>
 <h2 class="yh">视频标题</h2>
</script>
<script type="text/html" id="video_list">
	<%for(var i =0 ;i< list.length;i++){ 
		var item = list[i]%>
		<a href="videos.html"><img width="80" height=“55” src="<%=item.image%>" /></a>
		<%}%>
</script>

<!-- 新闻类型 -->
<script id="category_news" type="text/html">
	<% for(var i =0;i < model.list.length;i++) { 
			 var item = model.list[i] %>
		<li class="<%=i==0?'active':''%>" data-id="<%=item.id%>"><a href="javascript:;"><%= item.name%></a></li>
		<%}%>
	</script>
<!-- 新闻列表 -->
<script type="text/html" id="news_list_item">
	<ul class="fr">
		<% if(!model.list.length) {%>
			<h1>没有新闻数据</h1>
		<% } else {%>
			<% for(var i = 0;i < model.list.length;i++) { 
				var $ = getJquery();
				var item = model.list[i];
				var arr = item.issue_time.split('T');
				var time = arr[0];
				var title = item.title.substring(0,15) %>
			<li><a href="news_detail.html?id=<%=item.id%>"><%=title%>...</a><span><%=time%></span></li>
			<% } %>
			<% } %>
		</ul>
	</script>
<!-- 第一条新闻 -->
<script id="first_news" type="text/html">
	<% for(var i = 0;i < model.list.length;i++) { 
			var $ = getJquery();
			var item = model.list[i];
			var arr = item.issue_time.split('T');
			var desc = item.content.substring(0,100)
			var time = arr[0]; %>
		<h3><a href="news_detail.html?id=<%=item.id%>"><%=item.title%></a><span><%=time%></span></h3>
		<p class="desc"><%= desc%>...</p>
		<% } %>
	</script>

<!-- 产品列表 -->
<script id="product_item" type="text/html">
	<% for(var i =0 ; i< model.list.length;i++) {
			var item = model.list[i] %>
		<li><a href="product_detail.html?id=<%=item.id%>"><img src="<%=item.picture%>" width="232" height="206" /></a>
			<h1><a href="product_detail.html?id=<%= item.id%>"><%=item.title%></a></h1>
		</li>
		<%}%>
	</script>


<!-- 轮播图 -->
<script type="text/html" id="pics_list">
	<% for(var i =0; i< model.length;i++) {
			var item = model[i] %>
		<li style="background: url(<%=item.name%>) center center no-repeat;"></li>
		<% }%>
	</script>

</html>