<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>冷藏库-保鲜库-速冻库-物流冷链-医疗冷库-【福建冰宇制冷】-制冷产品</title>
	<meta name="keywords" content="冷柜,冰柜,冷柜价格,冰柜价格,超市冷柜,福建冰宇冷柜" />
	<meta name="description" content="福建冰宇制冷设备有限公司是一家集研发、设计、生产、销售于一体的商业制冷设备企业，主要产品有冷柜，冰柜，展示柜，冷藏柜，冷冻柜，冷库等。自成立以来，凭借良好的信誉以及过硬的产品质量获得广大消费者的信赖。凭借自身努力相继在东莞、广州、上海、北京、广西、湖南、湖北、福建、四川、浙江、江苏、重庆、江西等多地以及国外创造销售渠道。" />
	<link rel="icon" href="./statics/images/ico.ico"  type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="statics/css/base.css" />
	<link rel="stylesheet" type="text/css" href="statics/css/style.css" />
</head>

<body>
	<!--头部-->
	<div class="header">
		<!--top bar-->
		<div class="top_bar">
			<div class="w1200">
				<div class="fl" data-locale="i1">欢迎来到冰宇制冷有限公司官网！</div>
				<ul class="fr">
						<li>
							<span>语言/language</span>
							<select id="select_name">
								<option value="zh" selected>中文</option>
								<option value="en">English</option>
							</select>
						</li>
						<li class="wx">
							<a href="javascript:;" data-locale="i2">官方微信</a>
							<div class="wxerweima">
								<img src="statics/images/erweima.png" />
							</div>
						</li>
						<li><a href="javascript:;" target="blank" data-locale="i3">官方微博</a></li>
						<li><a href="https://www.facebook.com/bingyurefrigeration/" target="blank">Facebook</a></li>
					</ul>
			</div>
		</div>
		<!--top-->
		<div class="top">
			<div class="w1200">
				<div class="logo fl">
					<a href="javascript:;">
						<img src="statics/images/by_logo.png" alt="" />
					</a>
				</div>
				<div class="bgc fl">
					<img src="statics/images/hl_09.jpg" alt="">
				</div>
				<div class="tel fr">
					400-800-8888
				</div>
			</div>
		</div>
		<!--nav-->
		<div class="nav">
			<div class="w1200">
				<ul id="nav_list">

				</ul>
			</div>
		</div>
	</div>
	<!--轮播图-->
	<div class="slider">
		<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="bd">
				<ul class="pics">

				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
		</div>
	</div>
	<!-- 内容主体 -->
	<div class="container product">
		<div class="w1200">
			<p class="crumbs">当前位置：<a href="index.html">首页</a>&nbsp;>&nbsp;<a href="product.html">制冷产品</a></p>
			<div class="product">
				<div class="product_left product_detail" style="position: relative;">
					<h2>制冷产品</h2>
					<div class="product_detail_item">
						<h3 class="product_title">冰柜冰柜冰柜</h3>
						<img src="" width="100%" height="400" style="display: block;background: #fff" alt="">
						<div class="product_content">
							<h4>产品概况</h4>
							<div class="product_text">

							</div>
							<div class="product_picture">
								<img src="" width="100%" height="400" style="display: block;background: #fff" alt="">
							</div>
						</div>
					</div>
					<div class="share_container">
						<div class="bdsharebuttonbox" style="position:absolute;left:0;top:80px"><a href="#" class="bds_more" data-cmd="more"></a><a
							 href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina"
							 title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_fbook"
							 data-cmd="fbook" title="分享到Facebook"></a><a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a></div>
						<script>
							window._bd_share_config = {
								"common": {
									"bdSnsKey": {},
									"bdText": "",
									"bdMini": "2",
									"bdMiniList": false,
									"bdPic": "",
									"bdStyle": "1",
									"bdSize": "16"
								},
								"share": {},
								"image": {
									"viewList": ["qzone", "tsina", "weixin", "fbook", "twi"],
									"viewText": "分享到：",
									"viewSize": "16"
								},
								"selectShare": {
									"bdContainerClass": null,
									"bdSelectMiniList": ["qzone", "tsina", "weixin", "fbook", "twi"]
								}
							};
							with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src =
								'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
						</script>
					</div>
				</div>
				<div class="product_right">
					<h2>制冷产品分类</h2>
					<ul class="type_list">

					</ul>
					<div class="type_bottom">
						<h3>为什么选择我们</h3>
						<h4 class="text">WHY CHOOSE US</h4>
						<img src="./statics/images/choose.jpg" alt="" class="service">
						<p><img src="./statics/images/number.jpg" alt=""><span>提供整套解决方案</span></p>
						<p><img src="./statics/images/number.jpg" alt=""><span>专业冷库设计建造</span></p>
						<p><img src="./statics/images/number.jpg" alt=""><span>冷库设计行业资质</span></p>
						<p><img src="./statics/images/number.jpg" alt=""><span>经验丰富的运作团队</span></p>
						<p><img src="./statics/images/number.jpg" alt=""><span>众多的知名企业合作商</span></p>
						<p><img src="./statics/images/number.jpg" alt=""><span>及时的售前后服务</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<div class="footer">
		<div class="w1200">
			<div class="left fl">
				<img class="fr" src="statics/images/by_footer_logo.png" />
			</div>
			<div class="middle fl">
				<ul>
					<li>
						<h3 data-locale="i13">网站首页</h3>
						<p><a href="javascript:;" data-locale="i14">公司简介</a></p>
						<p><a href="javascript:;" data-locale="i15">领导致辞</a></p>
						<p><a href="javascript:;" data-locale="i16">机构设置</a></p>
						<p><a href="javascript:;" data-locale="i17">地理位置</a></p>
					</li>
					<li>
						<h3 data-locale="i18">荣誉资质</h3>
						<p><a href="javascript:;" data-locale="i19">产品名称第一</a></p>
						<p><a href="javascript:;" data-locale="i20">汇源果汁</a></p>
						<p><a href="javascript:;" data-locale="i21">娃哈哈矿泉水</a></p>
					</li>
					<li>
						<h3 data-locale="i22">精品案例</h3>
						<p><a href="javascript:;" data-locale="i23">年底促销</a></p>
						<p><a href="javascript:;" data-locale="i24">6.18年中大促销</a></p>
					</li>
					<li>
						<h3 data-locale="i25">友情链接</h3>
						<p class="flink">
							<a href="javascript:;" data-locale="i26"><span>网易</span></a>
							<a href="javascript:;" data-locale="i27"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i28"><span>网易</span></a>
							<a href="javascript:;" data-locale="i29"><span>新浪</span></a>
							<a href="javascript:;" data-locale="i30"><span>网易</span></a>
							<a href="javascript:;" data-locale="i31"><span>搜狐</span></a>
							<a href="javascript:;" data-locale="i32"><span>网易</span></a>
							<a href="javascript:;" data-locale="i33"><span>中兴</span></a>
							<a href="javascript:;" data-locale="i34"><span>腾讯</span></a>
							<a href="javascript:;" data-locale="i35"><span>中兴</span></a>
						</p>
					</li>
				</ul>
			</div>
			<div class="right fr">
				<div class="l fl">
					<h3 data-locale="i36">工作热线</h3>
					<p>020-32201587</p>
					<h3 class="rx" data-locale="i37">24小时服务热线</h3>
					<p>13631338039</p>
					<p class="weibo"><a href="javascript:;" data-locale="i38">新浪微博</a></p>
					<p class="qq"><a href="javascript:;" data-locale="i39">腾讯微博</a></p>
				</div>
				<div class="r fr">
					<img src="statics/images/erweima.png" />
					<p data-locale="i40">扫一扫二维码有惊喜</p>
				</div>
			</div>
		</div>
		<div class="copyright">
			20010-20011&nbsp;版权所有&nbsp;2003 -2010&nbsp;&nbsp;备案号：粤1234567
		</div>
	</div>
	<script src="./statics/lib/jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/jquery/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="./statics/lib/artTemplate/template-native.js"></script>
	<script src="./statics/lib/i18n/jquery.i18n.properties.js"></script>
	<script src="./statics/js/common.js"></script>
	<script type="text/javascript">
		$(function () {
			template.defaults.escape = false

			getLan(function () {
				renderProType(function (data) {
					var typeList = data.object.list
					$('.type_list').html(template('proTypeList', {
						model: {
							list: typeList
						}
					}))
				})
				$('.type_list').on('click', 'li', function (e) {
					window.location.href = 'product.html'
				})
				renderProDetail(function (data) {
					var title = data.object.produces.title
					$(document)[0].title = '冷藏库-保鲜库-速冻库-物流冷链-医疗冷库-【福建冰宇制冷】-制冷产品-' + title
					$('.product_detail_item').html(template('proDetail', {
						item: data.object.produces,
						pic: data.object.pictures
					}))
				})
			})
		})
		var renderProType = function (callback) {
			$.get(By.apiPath + '/user/produces/getProducesTypeList', function (data) {
				callback && callback(data)
			})
		}
		var renderProDetail = function (callback) {
			window.newsId = By.getUrlParam('id')
			$.get(By.apiPath + '/user/produces/getProducesById', {
				id: window.newsId
			}, function (data) {
				callback && callback(data)
			})
		}
	</script>
	<script id="proTypeList" type="text/html">
		<% for(var i =0;i< model.list.length;i++) {
			var item = model.list[i] %>
		<li class="<%=i==0?'active':''%>" data-id="<%=item.id%>">
			<a href="product.html?id=<%=item.id%>"><%=item.name%></a>
		</li>
		<%}%>
	</script>
	<script id="proDetail" type="text/html">
		<h3 class="product_title"><%=item.title%></h3>
      <img src="<%=pic[0]%>" width="100%" height="600" style="display: block;background: #fff"  alt="">
      <div class="product_content">
        <h4>产品概况</h4>
        <div class="product_text">
          <%=item.content%>
        </div>
        <div class="product_picture">
          <%for(var i=0;i< pic.length;i++) {%>
          <img src="<%=pic[i]%>" width="100%" height="700" style="display: block;background: #fff"  alt="">
          <%}%>
        </div>
      </div>
  </script>
	<script type="text/html" id="pics_list">
		<% for(var i =0; i< model.length;i++) {
			var item = model[i] %>
		<li style="background: url(<%=item.name%>) center center no-repeat;"></li>
		<% }%>
	</script>

	<!-- 导航 -->
	<script id="nav_lists" type="text/html">
		<% for(var i= 0;i < list.length;i++) {
		 var item = list[i] %>
	<li data-id="<%=item.id%>" class="<%= item.link == 'product.html'?'active':''%>">
		<a href="<%=item.link%>"><%=item.name%></a>
		<div class="sub_nav">
			<ul>
				<% if(item.title) {
					 for(var j = 0;j< item.title.length;j++) { 
					 var cate = item.title[j] %>
						<li data-id="<%=cate.id%>"><a href="<%=cate.url%>?id=<%=cate.id%>"><%=cate.name%></a></li>
						<% }
					 } %>
			</ul>
		</div>
	</li>
	<% } %>
</script>
</body>

</html>